{
  "file_transfers": [
    {
      "source": "s3://chinmaya-landingbucket-batch01/actives-landing-object/actives.parquet",
      "destination": "s3://chinmaya-rawbucket-batch01/actives-raw-object/"
    },
    {
      "source": "s3://chinmaya-landingbucket-batch01/viewership-landing-object/viewership.parquet",
      "destination": "s3://chinmaya-rawbucket-batch01/viewership-raw-object/"
    }
  ]
}
